In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
def prices_files(round: int, start: int, end: int):
    return [f"../data/island-data-bottle-round-{round}/prices_round_{round}_day_{i}.csv" for i in range(start, end+1)]
def trades_files(round: int, start: int, end: int):
    return [f"../data/island-data-bottle-round-{round}/trades_round_{round}_day_{i}_nn.csv" for i in range(start, end+1)]

rd_1_price_files, rd_1_trade_files = prices_files(1, -2, 0), trades_files(1, -2, 0)
rd_2_price_files, rd_2_trade_files = prices_files(2, -1, 1), trades_files(2, -1, 1)

rd_1_price_files,  rd_1_trade_files, rd_2_price_files, rd_2_trade_files

(['../data/island-data-bottle-round-1/prices_round_1_day_-2.csv',
  '../data/island-data-bottle-round-1/prices_round_1_day_-1.csv',
  '../data/island-data-bottle-round-1/prices_round_1_day_0.csv'],
 ['../data/island-data-bottle-round-1/trades_round_1_day_-2_nn.csv',
  '../data/island-data-bottle-round-1/trades_round_1_day_-1_nn.csv',
  '../data/island-data-bottle-round-1/trades_round_1_day_0_nn.csv'],
 ['../data/island-data-bottle-round-2/prices_round_2_day_-1.csv',
  '../data/island-data-bottle-round-2/prices_round_2_day_0.csv',
  '../data/island-data-bottle-round-2/prices_round_2_day_1.csv'],
 ['../data/island-data-bottle-round-2/trades_round_2_day_-1_nn.csv',
  '../data/island-data-bottle-round-2/trades_round_2_day_0_nn.csv',
  '../data/island-data-bottle-round-2/trades_round_2_day_1_nn.csv'])

In [30]:
# Import and clean data
all_price_files = rd_1_price_files + rd_2_price_files
all_trade_files = rd_1_trade_files + rd_2_trade_files
print(all_price_files)
rd_1_prices_df = pd.concat((pd.read_csv(filename, sep=";", usecols=lambda x: x not in ["day", "profit_and_loss"], index_col=["timestamp"]) for filename in rd_1_price_files), axis="index")
rd_2_prices_df = pd.concat((pd.read_csv(filename, sep=";", usecols=lambda x: x not in ["day", "profit_and_loss"], index_col=["timestamp"]) for filename in rd_2_price_files), axis="index")
# trades_df = pd.concat((pd.read_csv(filename, sep=";", usecols=lambda x : x not in ["buyer", "seller", "currency"]).assign(day=day-1) for day, filename in enumerate(trade_files))).set_index(["day", "timestamp", "symbol"])

['../data/island-data-bottle-round-1/prices_round_1_day_-2.csv', '../data/island-data-bottle-round-1/prices_round_1_day_-1.csv', '../data/island-data-bottle-round-1/prices_round_1_day_0.csv', '../data/island-data-bottle-round-2/prices_round_2_day_-1.csv', '../data/island-data-bottle-round-2/prices_round_2_day_0.csv', '../data/island-data-bottle-round-2/prices_round_2_day_1.csv']

In [31]:
rd_1_prices_df

,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price
timestamp,,,,,,,,,,,,,,
0,BANANAS,4997,26,NaN,NaN,NaN,NaN,5003,26,NaN,NaN,NaN,NaN,5000.0
0,PEARLS,9996,1,9995.0,25.0,NaN,NaN,10004,1,10005.0,25.0,NaN,NaN,10000.0
100,BANANAS,4997,20,NaN,NaN,NaN,NaN,4998,1,5004.0,20.0,NaN,NaN,4997.5
100,PEARLS,10000,5,9995.0,20.0,NaN,NaN,10005,20,NaN,NaN,NaN,NaN,10002.5
200,PEARLS,9996,1,9995.0,30.0,NaN,NaN,10004,1,10005.0,30.0,NaN,NaN,10000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999700,BANANAS,4875,1,4870.0,2.0,4869.0,24.0,4876,26,NaN,NaN,NaN,NaN,4875.5
999800,PEARLS,9995,27,NaN,NaN,NaN,NaN,10005,27,NaN,NaN,NaN,NaN,10000.0
999800,BANANAS,4869,27,NaN,NaN,NaN,NaN,4876,27,NaN,NaN,NaN,NaN,4872.5
999900,PEARLS,9996,2,9995.0,21.0,NaN,NaN,10004,2,10005.0,21.0,NaN,NaN,10000.0
999900,BANANAS,4870,23,NaN,NaN,NaN,NaN,4876,2,4877.0,21.0,NaN,NaN,4873.0

In [32]:
rd_2_prices_df

,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price
timestamp,,,,,,,,,,,,,,
0,PEARLS,10002,1,9996.0,2.0,9995.0,29.0,10004,2,10005.0,29.0,NaN,NaN,10003.0
0,PINA_COLADAS,14999,38,14998.0,53.0,NaN,NaN,15001,38,15002.0,53.0,NaN,NaN,15000.0
0,COCONUTS,7999,162,NaN,NaN,NaN,NaN,8001,55,8002.0,107.0,NaN,NaN,8000.0
0,BANANAS,4951,1,4946.0,2.0,4945.0,29.0,4952,31,NaN,NaN,NaN,NaN,4951.5
100,PEARLS,9996,2,9995.0,22.0,NaN,NaN,10004,2,10005.0,22.0,NaN,NaN,10000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999800,PEARLS,9996,2,9995.0,22.0,NaN,NaN,10004,2,10005.0,22.0,NaN,NaN,10000.0
999900,PINA_COLADAS,14850,21,14849.0,62.0,NaN,NaN,14853,83,NaN,NaN,NaN,NaN,14851.5
999900,BANANAS,4820,20,NaN,NaN,NaN,NaN,4827,20,NaN,NaN,NaN,NaN,4823.5
999900,PEARLS,9995,20,NaN,NaN,NaN,NaN,10005,20,NaN,NaN,NaN,NaN,10000.0
999900,COCONUTS,7922,178,NaN,NaN,NaN,NaN,7925,178,NaN,NaN,NaN,NaN,7923.5

In [35]:
all_prices_df = pd.concat([rd_1_prices_df, rd_2_prices_df], axis="index")
all_prices_df

,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price
timestamp,,,,,,,,,,,,,,
0,BANANAS,4997,26,NaN,NaN,NaN,NaN,5003,26,NaN,NaN,NaN,NaN,5000.0
0,PEARLS,9996,1,9995.0,25.0,NaN,NaN,10004,1,10005.0,25.0,NaN,NaN,10000.0
100,BANANAS,4997,20,NaN,NaN,NaN,NaN,4998,1,5004.0,20.0,NaN,NaN,4997.5
100,PEARLS,10000,5,9995.0,20.0,NaN,NaN,10005,20,NaN,NaN,NaN,NaN,10002.5
200,PEARLS,9996,1,9995.0,30.0,NaN,NaN,10004,1,10005.0,30.0,NaN,NaN,10000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999800,PEARLS,9996,2,9995.0,22.0,NaN,NaN,10004,2,10005.0,22.0,NaN,NaN,10000.0
999900,PINA_COLADAS,14850,21,14849.0,62.0,NaN,NaN,14853,83,NaN,NaN,NaN,NaN,14851.5
999900,BANANAS,4820,20,NaN,NaN,NaN,NaN,4827,20,NaN,NaN,NaN,NaN,4823.5
999900,PEARLS,9995,20,NaN,NaN,NaN,NaN,10005,20,NaN,NaN,NaN,NaN,10000.0
999900,COCONUTS,7922,178,NaN,NaN,NaN,NaN,7925,178,NaN,NaN,NaN,NaN,7923.5